{% extends 'accounts/accounts-base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<section style="margin-top: 130px;" id="contact" class="contact section">
    <div class="container login-container">
        <div class="login-box">
            <h2 style="margin-top: 25px;">Password reset complete!</h2>
            <div style="text-align: center;" class="signup-link">
                <p>You can now log in here: <a href="{% url 'Accounts:login' %}">Login</a></p>
            </div><br>
        </div>
    </div>
</section>
{% endblock %}