{% extends 'accounts/accounts-base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<section style="margin-top: 90px;" id="contact" class="contact section">
    <div class="container login-container">
        <div class="login-box">
            <h2>Forgot your password?</h2>

            <form method="post" class="django-contact-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your Email address" 
                    onfocus="this.placeholder = 'Enter your Email address'" onblur="this.placeholder = 'Enter your email address'" required autofocus>
                </div>
                
                <button style="width: 100%;" type="submit" class="btn btn-primary">Send password reset code</button>
            </form>
            <div class="signup-link">
                Remember your <a href="{% url 'Accounts:login' %}">password?</a><br>
            </div><br>
        </div>
    </div>
</section>
{% endblock %}