{% extends 'accounts/accounts-base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<section style="margin-top: 90px;" id="contact" class="contact section">
    <div class="container login-container">
        <div class="login-box">
            <div class="signup-link">
                <div style="text-align: center;">
                <h1 style="margin-bottom: 20px;">Thank you</h1>
                <p>You should receive the email shortly</p>
                <p>Please check your <a href="https://accounts.google.com/v3/signin/identifier?ifkv=Ab5oB3rzMtE5yvd-QvAPwL6cc8p_uctLwYniAGAuZjWBWhGUAKoZubsgcL1M34cnZsbHON7B9tZsNg&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-1340306954%3A1725023208913612&ddm=0">Email</a></p>
            </div><br>
            <!-- Social Signup Buttons -->
            <div class="social-login">
                <a href="#" class="google">
                    <i class="bi bi-google"></i>
                </a>
                <a href="#" class="facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="apple">
                    <i class="bi bi-apple"></i>
                </a>
                <a href="#" class="microsoft">
                    <i class="bi bi-microsoft"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}