{% extends 'accounts/accounts-base.html' %}
{% load static %}
{% block title %}Set new password{% endblock %}
{% block content %}

<section style="margin-top: 80px;" id="contact" class="contact section">
    <div class="container login-container">
        <div class="login-box">
            {% if validlink %}
            <h2>Set new password</h2>
            <form method="post" class="django-contact-form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-group">
                        <input type="password" id="password" name="new_password1" class="form-control" required autocomplete="off"
                        placeholder="Password" onfocus="this.placeholder = 'Password'" onblur="this.placeholder = 'Enter password'"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        <i class="bi bi-eye-fill toggle-password" onclick="togglePasswordVisibilitySignup()"></i>
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" id="confirm_password" name="new_password2" class="form-control" required
                        autocomplete="off" placeholder="Confirm password"
                        onfocus="this.placeholder = 'Confirm password'"
                        onblur="this.placeholder = 'Enter confirm password'">
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-primary">Set password</button>
            </form>
            {% else %}
            <h3 style="text-align: center;">The validation link is not valid!</h3>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}