{% load static %}
<!-- Team Section -->
<section id="team" class="team section">

    <!-- Section Title -->
    <div style="padding-bottom: 50px;" class="container section-title" data-aos="fade-up">
        <h2>About us</h2>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">
            <div class="col-xl-4 col-md-4 d-flex">
                <img src="{% static 'img/about-us.jpg' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>

            <div class="col-xl-7 col-md-7 d-flex" data-aos="zoom-in" data-aos-delay="200">
                <div style="text-align: justify;" class="team-member">Our English language institute was established
                    with the goal of providing the best educational services for learning English. Using the latest
                    teaching methods and benefiting from experienced and professional instructors, we have created a
                    dynamic and supportive environment for language learning. At our institute, we offer a wide range of
                    courses designed for all levels, from beginner to advanced, so that every learner can choose the
                    best program tailored to their needs and goals.

                    Our primary aim is to help students master the essential skills of speaking, listening, writing, and
                    reading so that they can confidently use English in daily life, academic settings, and professional
                    environments. Our courses include in-person and online classes, conversation sessions, specialized
                    workshops, and preparation for international exams like IELTS and TOEFL.

                    With a belief in interactive and effective learning, our institute strives to provide an enjoyable
                    and practical learning experience for all students, supporting them on their path to achieving their
                    language goals.

                </div>
            </div><!-- End Team Member -->

        </div>

    </div>

</section><!-- /Team Section -->