{% load static %}
<!-- Faq Section -->
<section id="faq" class="faq section">

    <div class="container-fluid">

        <div class="row gy-4">

            <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

                <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
                    <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
                    <p>
                        Learning to speak english, like any language, involves a combination of methods to effectively
                        develop
                        your skills. Here’s a structured approach to help you
                    </p>
                </div>

                <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="faq-item faq-active">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>How many and which countries speak english?</h3>
                        <div class="faq-content">
                            <p>English is spoken in many countries around the world, either as an official language, a second language, or a widely spoken foreign language. Over 70 countries have English as an official language or widely used second language. English is spoken by over 1.5 billion people globally.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>Why learning english is useful?</h3>
                        <div class="faq-content">
                            <p>Learning English is highly beneficial because it serves as the primary global language for communication, education, business, and travel. With over 1.5 billion speakers worldwide, English is a bridge language that enables people from different linguistic backgrounds to interact easily. It opens up career opportunities in multinational companies, enhances access to academic resources, and is essential for those seeking to study abroad in prestigious universities. English is also the dominant language of the internet and technology, making it vital for staying informed and connected. Additionally, knowing English simplifies travel and enriches cultural understanding, allowing access to global media, literature, and entertainment. Overall, mastering English is a gateway to broader opportunities and global engagement.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                    <div class="faq-item">
                        <i class="faq-icon bi bi-question-circle"></i>
                        <h3>How long does it take to learn english?</h3>
                        <div class="faq-content">
                            <p>
                                The time it takes to learn English depends on several factors, including your current proficiency level, the intensity of study, and the amount of exposure you have to the language. For beginners, it may take around 6 to 12 months of intensive study to reach conversational fluency, while part-time learners may need 1 to 2 years or more. Immersion in an English-speaking environment can significantly speed up the process, often allowing learners to become fluent within a year. However, for those with limited practice or casual learning habits, achieving fluency may take 2 to 3 years or longer. Motivation, consistency, and the use of effective learning methods also play a crucial role in determining how quickly you can master the language.</p>
                        </div>
                        <i class="faq-toggle bi bi-chevron-right"></i>
                    </div><!-- End Faq item-->

                </div>

            </div>

            <div class="col-lg-5 order-1 order-lg-2">
                <img src="{% static 'img/faq.jpg' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
            </div>
        </div>

    </div>

</section><!-- /Faq Section -->