{% load static %}
<!-- english Section -->
<section id="english" class="english section">

    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">
      <img style="margin-top: 30px;" src="{% static 'img/english-img.png' %}" class="img-fluid animated" alt="">
      <h1>Welcome to <span>BridgeLang</span></h1>
      <p>Learn English easily with our comprehensive language learning platform!</p>
      <div class="d-flex">
        <a href="#services" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- /english Section -->