{% load static %}
{% load blog-tags %}

    <!-- Stats Section -->
    <section id="stats" class="stats section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-eye color-blue flex-shrink-0"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="{% views_count %}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Views</p>
                </div>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-journal-text color-orange flex-shrink-0" style="color: #ee6c20;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="{% posts_count %}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Posts</p>
                </div>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-person color-green flex-shrink-0" style="color: #15be56;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="{% authors_count %}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Authors</p>
                </div>
              </div>
            </div><!-- End Stats Item -->
  
            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-chat-text color-pink flex-shrink-0" style="color: #bb0852;"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="{% all_comments_count %}" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Comments</p>
                </div>
              </div>
            </div><!-- End Stats Item -->
  
          </div>
  
        </div>
  
      </section><!-- /Stats Section -->